# List

In [1]:
lst=["Kavya",21]

In [2]:
lst

['Kavya', 21]

In [3]:
lst.append("Jayaraj")

In [4]:
lst

['Kavya', 21, 'Jayaraj']

In [5]:
lst1=lst.copy()

In [6]:
lst1

['Kavya', 21, 'Jayaraj']

In [7]:
lst.count(21)

1

In [8]:
lst.append("Kavya")

In [9]:
lst.count("Kavya")

2

In [10]:
lst3=[123,"MCA"]

In [11]:
lst3

[123, 'MCA']

In [12]:
lst.extend(lst3)

In [13]:
lst3

[123, 'MCA']

In [14]:
lst

['Kavya', 21, 'Jayaraj', 'Kavya', 123, 'MCA']

In [15]:
lst.index(21)

1

In [16]:
lst.insert(1, "Rahul")

In [17]:
lst

['Kavya', 'Rahul', 21, 'Jayaraj', 'Kavya', 123, 'MCA']

In [18]:
lst.pop(4)

'Kavya'

In [19]:
lst

['Kavya', 'Rahul', 21, 'Jayaraj', 123, 'MCA']

In [20]:
lst.remove(123)

In [21]:
lst

['Kavya', 'Rahul', 21, 'Jayaraj', 'MCA']

In [22]:
lst.reverse()

In [23]:
lst

['MCA', 'Jayaraj', 21, 'Rahul', 'Kavya']

In [7]:
clear(lst)

# Dict

In [9]:
dit={"name":"Kavya","age":"22","email":"kavya@gmail.com"}

In [11]:
dit

{'name': 'Kavya', 'age': '22', 'email': 'kavya@gmail.com'}

In [12]:
dit.get("age")

'22'

In [13]:
dit.items()

dict_items([('name', 'Kavya'), ('age', '22'), ('email', 'kavya@gmail.com')])

In [14]:
dit.keys()

dict_keys(['name', 'age', 'email'])

In [15]:
dit.pop("email")

'kavya@gmail.com'

In [16]:
dit

{'name': 'Kavya', 'age': '22'}

In [17]:
dit.fromkeys("name")

{'n': None, 'a': None, 'm': None, 'e': None}

In [18]:
dit.popitem()

('age', '22')

In [19]:
dit

{'name': 'Kavya'}

In [20]:
dit.setdefault("name")

'Kavya'

In [24]:
dit.setdefault("school")

In [22]:
dit

{'name': 'Kavya', 'school': None}

In [32]:
dit.update({"school":"karmel"})

In [33]:
dit

{'name': 'Kavya', 'school': 'karmel'}

In [34]:
dit1={"course":"MCA"}

In [36]:
dit1=dit.copy()

In [37]:
dit1

{'name': 'Kavya', 'school': 'karmel'}

In [38]:
dit

{'name': 'Kavya', 'school': 'karmel'}

In [39]:
dit.clear()

In [40]:
dit

{}

# sets and its default functons

In [42]:
set1={1,2,3,1,4,5,2,8}

In [43]:
set1

{1, 2, 3, 4, 5, 8}

In [44]:
set2={1,5,9,7}

In [45]:
set2

{1, 5, 7, 9}

In [46]:
set1.difference(set2)

{2, 3, 4, 8}

In [47]:
set1.difference_update(set2)

In [48]:
set1

{2, 3, 4, 8}

In [49]:
set1.intersection(set2)

set()

In [50]:
set1.intersection_update(set2)

In [51]:
set1

set()

In [52]:
set1.add(4)

In [53]:
set1.add(6)

In [54]:
set1.add(0)

In [57]:
set1.add(9)

In [58]:
set1

{0, 4, 6, 9}

In [59]:
set1.isdisjoint(set2)

False

In [60]:
set1.issubset(set2)

False

In [61]:
set1.issuperset(set2)

False

In [62]:
set1.pop()

0

In [63]:
set1

{4, 6, 9}

In [64]:
set1.remove(9)

In [65]:
set1

{4, 6}

In [66]:
set1.union(set2)

{1, 4, 5, 6, 7, 9}

In [67]:
set1.symmetric_difference(set2)

{1, 4, 5, 6, 7, 9}

In [68]:
set1.symmetric_difference_update(set2)

In [69]:
set1

{1, 4, 5, 6, 7, 9}

In [70]:
set1.update(set2)

In [71]:
set1

{1, 4, 5, 6, 7, 9}

In [72]:
set3=set1.copy()

In [73]:
set3

{1, 4, 5, 6, 7, 9}

In [74]:
set3.clear()

In [75]:
set3

set()

In [76]:
set1.discard(8)

In [77]:
set1

{1, 4, 5, 6, 7, 9}

# Tuples

In [82]:
tup=('k','a','v','y','a')

In [83]:
tup

('k', 'a', 'v', 'y', 'a')

In [84]:
tup.index('k')

0

In [86]:
tup.count('a')

2

# Strings

In [87]:
string = "My name is kavya"

In [88]:
string

'My name is kavya'

In [89]:
string.capitalize()

'My name is kavya'

In [90]:
string.center(24)

'    My name is kavya    '

In [91]:
string.casefold()

'my name is kavya'

In [92]:
substr="name"

In [94]:
string.count(substr)

1

In [95]:
string.endswith('is kavya')

True

In [96]:
string.expandtabs()

'My name is kavya'

In [97]:
string.encode()

b'My name is kavya'

In [98]:
string.find('let it')

-1

In [103]:
"Hello {}, your age is {}.".format("Kavya", 22)

'Hello Kavya, your age is 22.'

In [104]:
string.index('is')

8

In [105]:
string.isalnum()

False

In [106]:
string.isalpha()

False

In [107]:
string.isascii()

True

In [108]:
string.isdecimal()

False

In [109]:
string.isdigit()

False

In [110]:
string.isidentifier()

False

In [111]:
string.islower()

False

In [112]:
string.isnumeric()

False

In [113]:
string.isprintable()

True

In [114]:

string.isspace()

False

In [115]:
string.istitle()

False

In [116]:
string.isupper()

False

In [117]:
separator = ', '

In [118]:
separator.join(string)

'M, y,  , n, a, m, e,  , i, s,  , k, a, v, y, a'

In [120]:
string.ljust(6)

'My name is kavya'

In [121]:
string.rjust(7)

'My name is kavya'

In [122]:
string.lower()

'my name is kavya'

In [127]:
string.upper()

'MY NAME IS KAVYA'

In [128]:
string.swapcase()

'mY NAME IS KAVYA'

In [129]:
string.lstrip() #leading whitespaces are removed if any!!!!!!

'My name is kavya'

In [130]:
string.rstrip()

'My name is kavya'

In [136]:
string.strip()

'My name is kavya'

In [137]:
string.partition('is ')

('My name ', 'is ', 'kavya')

In [139]:
string.maketrans(dit)

{}

In [140]:
string.rpartition('not ')

('', '', 'My name is kavya')

In [141]:
string.replace('kavya', 'bella')

'My name is bella'

In [142]:
string.rfind('bella')

-1

In [144]:
string.rindex('kavya')

11

In [152]:
string.split()

['My', 'name', 'is', 'kavya']

In [153]:
string.rsplit()

['My', 'name', 'is', 'kavya']

In [154]:
string.splitlines(True)

['My name is kavya']

In [155]:
string.startswith('My name')

True

In [156]:
string.title()

'My Name Is Kavya'

In [157]:
string.zfill(20)

'0000My name is kavya'

In [158]:
value = {'x':4,'y':-5}